---
export const prerender = true;

import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import readingTime from 'reading-time';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((p) => {
    return {
      params: { slug: p.slug },
      props: { post: p },
    };
  });
}

const { post } = Astro.props;
const { data, slug, render } = post;
const { Content } = await render();

const { title, description, publishDate } = data;
const permalink = `${Astro.site?.href}posts/${slug}`;
const githubLink = `https://github.com/jchantrell/blog/commits/main/src/data/posts/${slug}/post.md`;
---

<BaseLayout title={title} description={description} permalink={permalink} current='posts'>
  <header class='text-center mb-2 uppercase font-bold min-w-24 text-[color:var(--text-secondary)]'>
    <h1>{title}</h1>
    <span class='text-[color:var(--text-secondary)] m-0'>
      {publishDate} - {readingTime(post.body).text}
    </span>
    <div class='mb-2'>
      {
        data.tags
          .split(', ')
          .map((tag: string) => (
            <a class='lowercase mx-1 text-[color:var(--text-muted)]' href={`/posts?tags=${tag}`}>{`#${tag}`}</a>
          ))
      }
    </div>
    <hr class='min-w-24' />
  </header>
  <div class='w-full flex justify-center'>
    <div class='max-w-4xl w-full'>
      <blockquote class='text-sm'>
        This article may change over time. If something you were relying on is missing, the full version history is
        available <a href={githubLink} target='_blank' class='underline'>here</a>.
      </blockquote>
      <article class='content'>
        <Content />
      </article>
    </div>
  </div>
</BaseLayout>
