---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Posts from '../../components/Posts.tsx';
import getPostData from '../../utils/posts';

const title = 'jchantrell.dev';
const description = 'Latest articles.';
const permalink = `${Astro?.site?.href}posts`;
const query = Astro.url.searchParams.get('q')! || '';
const tags = Astro.url.searchParams.getAll('tags')! || [];

let posts = await Astro.glob('../../data/posts/*/*.md');
posts = posts.sort(
  (a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontratter.publishDate).valueOf(),
);
posts = posts.map((post) => ({
  ...post,
  ...getPostData(post),
}));
---

<BaseLayout title={title} description={description} permalink={permalink} current='posts'>
  <div class='container mx-2/4'>
    <Posts posts={posts} query={query} tags={tags} client:load } />
  </div>
</BaseLayout>
