---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Posts from '../../components/Posts.tsx';
import { getCollection } from 'astro:content';
import readingTime from 'reading-time';

const title = 'Posts';
const description = 'Latest articles.';
const permalink = `${Astro?.site?.href}posts`;
const query = Astro.url.searchParams.get('q')! || '';
const tags = Astro.url.searchParams.getAll('tags')! || [];

const posts = await getCollection('posts');

const mappedPosts = posts
  .map((post) => ({
    title: post.data.title,
    description: post.data.description,
    tags: post.data.tags.split(',').map((tag: string) => tag.trim()),
    publishDate: post.data.publishDate,
    readingTime: readingTime(post.body).text,
    slug: post.slug || '',
  }))
  .sort((a, b) => {
    const aDate = new Date(a.publishDate).valueOf();
    const bDate = new Date(b.publishDate).valueOf();
    if (aDate == bDate) {
      if (a.title < b.title) {
        return -1;
      }
      if (a.title > b.title) {
        return 1;
      }
      return 0;
    }
    return bDate - aDate;
  });
---

<BaseLayout title={title} description={description} permalink={permalink} current='posts'>
  <div class='w-full flex justify-center'>
    <div class='max-w-xl w-full'>
      <Posts posts={mappedPosts} query={query} tags={tags} client:load />
    </div>
  </div>
</BaseLayout>
