---
import BaseLayout from '../../layouts/BaseLayout.astro';
import getPostData from '../../utils/getPostData';

export async function getStaticPaths() {
  const posts = await Astro.glob('../../data/posts/*.md');
  return posts.map(p => ({
    params: { slug: p.file.split('/').pop().split('.').shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, publishDate } = frontmatter;
const { slug, readingTime } = getPostData(Astro.props.post);
const permalink = `${Astro.site.href}blog/${slug}`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <header class="text-center mb-2 uppercase font-sans font-bold min-w-24">
    <p>{publishDate} ~ {readingTime}</p>
    <h1 class="mb-2">{title}</h1>
    <hr class="min-w-24"/>
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>
    <hr class="min-w-24" />
  </div>
</BaseLayout>

<style>

  header p {
    color: var(--text-secondary);
    font-family: var(--font-family-sans);
  }

</style>
