---
import '../styles/main.css';
import Globe from '../components/GlobeLazy.tsx';
import { PERSONAL_DATA } from '../content/data';
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Home';
const description = 'Ramblings about software.';
const permalink = Astro.site?.href as string;
const {
  contact: { email, social },
} = PERSONAL_DATA;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="relative flex items-center size-full">
    <div id="globe" class="absolute size-full inset-center z-0">
      <Globe transition:persist client:only="solidjs" />
    </div>
    <div class="w-full flex justify-center pointer-events-none relative z-10">
      <div class="max-w-4xl p-4 text-center text-2xl w-full select-none">
        <p>Hi, I'm Joel. 👋</p>
        <p>
          I'm an engineer and tinkerer that's been inseparable from computers since I was a child. I work professionally
          as a software engineer and do a lot of recreational programming in my spare time. This website is used to
          document my thoughts, learnings and what I'm working on.
        </p>
        <p>If you would like to contact me, you can use the links below.</p>
        <p class="pointer-events-auto">
          {social.map(({name, url}) => <><a href={url} target='_blank'>{name}</a> · </> )}
          <a href="/resume">Resume</a> ·<a href={`mailto:${email}`} target="_blank">Mail</a>
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
