---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Search from '../../components/Search.tsx';

const title = 'jchantrell.dev';
const description = 'Search articles.';
const permalink = `${Astro.site?.href}search`;
const query = Astro.url.searchParams.get('q')! || '';
const tags = Astro.url.searchParams.getAll('tags')! || [];

let posts = await Astro.glob('../../data/posts/*.md');
---

<BaseLayout title={title} description={description} permalink={permalink} current='search'>
  <div class='container'>
    <Search posts={posts} query={query} tags={tags} client:load } />
  </div>
</BaseLayout>
