---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { search } from "../../utils/search";

const title = "jchantrell.dev";
const description = "Search articles.";
const permalink = `${Astro.site.href}search`;

let posts = await Astro.glob("../../data/posts/*.md");

const tags = posts.map((post) =>
  post.frontmatter.tags.split(",").map((entry) => entry.trim()),
);
const flattened = tags.reduce((acc, curr) => acc.concat(curr), []);
const unique = Array.from(new Set(flattened));
const sorted = unique.sort((a, b) => (a !== b ? (a < b ? -1 : 1) : 0));
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="search"
>
  <div class="container mx-2/4">
    <input
      type="text"
      id="search"
      class="py-1.5 px-4 bg-[color:var(--background-body)] outline-none ring-1 ring-zinc-600 focus:ring-[color:var(--text-secondary)] outline-1 rounded-md h-10 w-full placeholder:text-gray-400"
      placeholder={`${posts[Math.floor(Math.random() * posts.length)].frontmatter.title}...`}
    />
    {
      sorted.map((entry) => {
        return <div>{entry}</div>;
      })
    }
  </div>
</BaseLayout>
